h11{
	background-color: #FFCC29;
	color: black;
}

p1{
	font-family: Arial, Helvetica, sans-serif;
	color: #606062;
}

h20{
	background-color: #008D4C;
	text-align:center;
	padding-right: 57%;

	padding-bottom: 2%;
	height: auto;
	
	font-size: 25px;
	color: white;
	max-width: 100%;
	
}

header{
	background-color: red;
	height: auto;
	overflow:hidden;
	max-width: 99%;
	padding-top: 0px;
}

body{
	background-image: url("fundo.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
	
	position: absolute;
	width: 100%;
	}
	
nav{
	background-color:#222D32;
	padding-bottom: 100%;
	max-width:15%;
	overflow: hidden;
	height: auto;

		
	
}